.logo {
  width: 30px;
  border-radius: 20px;
  height: 30px;
  float: left;
  margin-top: 15px;
  margin-left: 20px;
}

.Nav_ul li {
  display: inline-block;
  padding: 10px;
}

.Nav_ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.Nav_ul {
  margin: 0;
  padding: 5px;
  background: deepskyblue;
}

.nav_right {
  text-align: right;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: deepskyblue;
  color: white;
  text-align: center;
}

.inputBox {
  margin: 10px;
  padding: 8px;
  width: 300px;
}

.input_group,
.product {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
}

.input_group h1 {
  color: deepskyblue;
}

.btn_signUp,
.btn {
  width: 100px;
  margin-left: 10px;
  background: deepskyblue;
  margin-top: 20px;
  border: unset;
  padding: 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.Error_message {
  color: red;
  margin-left: 10px;
  margin-bottom: 10px;
}

.product-list{
  text-align: center;
  margin-top:50px ;
}
.product-list ul{
  margin: 0;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  width: 150px;
}

.search_box{
  width: 400px;
  margin: 20px;
  font-size: 1rem;
  height: 40px;
}